.claimedRewards-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto;
  padding: 20px;
  background-color: lightgray;
}

.claimedRewards-header {
  width: 100%;
}
